<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Confirm deletion of Student</h2>
      <br>
      <br> ID: <%=  student._id %>
      <br> Student Number: <%=student.StudentNumber %>
      <br> Days: <%=student.Days%>
      <br> StartTime: <%=student.StartTime%>
      <br> RoomNumber: <%=student.RoomNumber %>
      <br> CourseID: <%=student.CourseID %>
      <hr>
      
      <form method="get" action="/student">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>


      <form method="POST" action="/student/delete/<%= student._id %>">
        <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
      </form>

    </div>
  </div>
</div>