<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Details</h2>
      <br>
      <br> ID: <%=  student._id %>
      <br> student Number: <%=student.StudentNumber %>
      <br> Days: <%=student.Days%>
      <br> StartTime: <%=student.StartTime%>
      <br> RoomNumber: <%=student.RoomNumber %>
      <br> CourseID: <%=student.CourseID %>
      <!-- <br> Zip: <%=student.zip %> -->
      <!-- <br> Country: <%=student.country %> -->
      <hr>

      <form method="get" action="/student">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>

    </div>
  </div>
</div>